<p align="center" style="text-align:center">
    <img src="./ilustration.svg" alt="ilustration" width="100"/>
</p>

# camel-2-dash

> function convert camel-case to dash-delimiter

[![npm version](https://badge.fury.io/js/camel-to-dash.svg)](https://www.npmjs.com/package/camel-to-dash)
[![](https://data.jsdelivr.com/v1/package/npm/camel-to-dash/badge)](https://www.jsdelivr.com/package/npm/camel-to-dash)

## Install

```
npm i camel-to-dash
```

## Initialization

```javascript
import {camelToDash} from 'camel-to-dash'

const dash = camelToDash('camelCase') //return camel-case
```

## Author

webster6667

